:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

hr {
  color: black;
  opacity: 0.5;
  width: 100%;
}

.app-header {
  position: relative;
  z-index: 10;
  background-color: rgba(86, 86, 86, 0.5);
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-header-logo {
  color: white;
  font-size: 1.1rem;
}
